/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Ubuntu Display', sans-serif;
    margin: 0;
}

/* Header */
.heading {
    text-align: center;
    height: 40%;
}

/* Main */
.play-area {
    flex: 1 0 auto;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.score-area {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10%;
}

.computer-result {
    background-color: lightcoral;
    float: left;
    width: 35%;
    text-align: center;
}

#computer-img {
    width: 90%;
    margin: 4%;
}

.score {
    width: 100%;
}

.user-result {
    background-color: lightgreen;
    float: right;
    width: 35%;
    text-align: center;
}

#user-img {
    width: 90%;
    margin: 4%;
}

/* Footer */
footer {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}

#rules {
    padding-top: 10px;
}

footer img {
    width: 60%;
    margin: 10px;
}