/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Ubuntu Display', sans-serif;
    margin: 0;
}

/* Header */
header {
    text-align: center;
    height: 40%;
}

/* Main */
.play-area {
    flex: 1 0 auto;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

button {
    margin: 10px 0 auto;
    font-size: 120%;
}

.score-area {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 7px;
}

.computer-result {
    background-color: lightcoral;
    float: left;
    width: 38%;
    text-align: center;
    font-size: 120%;
}

#computer-img {
    width: 90%;
    margin: 4%;
}

#scores {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.score {
    margin: 5px;
}

.user-result {
    background-color: lightgreen;
    float: right;
    width: 38%;
    text-align: center;
    font-size: 120%;
}

#user-img {
    width: 90%;
    margin: 4%;
}

/* Rules page */
#rules-area {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

#rules {
    padding-top: 10px;
}

#rules-area img {
    width: 83%;
    margin: 10px;
    height: 53vh;
}

/* Media query: tablets and larger (768px or wider) */
@media screen and (min-width: 768px) {
    /* Rules page */
    #rules-area img {
        width: 60%;
        margin: 10px;
        height: 65vh;
    }
}

/* Media query: laptops and larger (1024px or wider) */
@media screen and (min-width: 1024px) {
    /* Results area*/
    #user-img {
        width: 60%;
        margin: 4%;
    }

    #computer-img {
        width: 60%;
        margin: 4%;
    }
    
    /* Rules page */
    #rules-area img {
        width: 50%;
        margin: 10px;
        height: 65vh;
    }
}